@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('NotoSansArabic-Regular.woff2') format('woff2'),
        url('NotoSansArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('NotoSansArabic-Bold.woff2') format('woff2'),
        url('NotoSansArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

